.details {
  margin: 10px 0 30px;
}

.details div {
  margin-bottom: 9px;
  color: #505055;
  font-size: 16px;
  line-height: 1.62;
}

.details dt {
  display: inline;
  color: #222225;
  font-family: "Gilroy-Bold", "Gilroy", Arial, sans-serif;
  font-weight: 400;
}

.details dd {
  display: inline;
  margin: 0 0 0 5px;
}

@media (max-width: 640px) {
  .details {
    margin-bottom: 24px;
  }

  .details div {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.55;
  }
}
